.headertext {
  text-align: center;
  line-height: 50px;
}

.metamask {
  content: '';

  background: linear-gradient(135deg, #6e8efb, #a777e3);
  border-radius: 6px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  font-size: 8pt;
  font-family: tahoma;
  position: absolute;
  bottom: 400px;
  width: 20%;
  right: 40%;
}
